# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log

# Variables (may contain secrets)
*.tfvars
*.tfvars.json

# Logs
*.log

# SSH Keys (VERY IMPORTANT)
*.pem
*.key

# OS files
.DS_Store
Thumbs.db

